@import url(https://fonts.googleapis.com/css?family=Archivo+Black);
@import url(https://fonts.googleapis.com/css?family=Roboto);

.quickContact{
  background: #484848;
  color:#fff;
  padding: 0;
  @media screen and (max-width: 1200px) {
    display:none;
  }

  p{
    padding: 2px;
    margin: 0;
  }
}

.navbar{
  margin: 0;
  box-shadow: 0px 3px 14px -2px rgba(0, 0, 0, 0.48);

}

section{
  padding: 40px;
}

.history p{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.divider{
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  margin: 0;
  padding: 0;
  box-shadow: 0px 3px 14px -2px rgba(0, 0, 0, 0.48);
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
}


.sell{
//  height:500px;
  background-color: #7F7171;
  text-shadow: 1px 1px rgba(84, 84, 84, 0.42);
  color:#fff;
  font-family: 'Archivo Black', sans-serif;
  background-image: url(../Images/wallpaper.jpg);

  .btn{
    background: #B5B5B5;
    border: 0;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;

    .Buy{
      background:#222;
    }

    .Learn{

    }
  }
  .btn-default{
    color:#fff;
    text-shadow: 1px 1px rgba(88, 88, 88, 0.56);
  }


}


.footer{
  background:#fff;
  min-height:300px;
  border-top:1px solid #bdbdbd ;
  margin-top:20px;

  a{
    display:block;
    margin:10px;
  }
  .text-center{
    @media screen and (max-width: 777px) {
      display:none;
    }
  }
}

.store{
  color:#848484;
}
.product{
  //height:200px;
  padding:5px;

  img{
    cursor:pointer;
  }
}

hr{
  border-top: 1px solid #D6D6D6;
}

.product-store{
  min-height:200px;
  border:1px solid #D6D6D6;
  border-radius:10px;
  padding: 10px;
}

.product-image{
  padding:20px;
}

.dropdown{
  margin: 10px;
}

.product-buy{
  margin: 20px;
}
